{% extends 'polls/base.html' %}
{% load static %}
{% block main_content %}
<h4 style="margin-left: 50px;"> Choose a Question </h4>
    {% if question_list %} 
        <ul style="list-style-type: circle">
            {% for q in question_list %}
            <li>
                <a href=" {% url 'polls:details' q.id %} " style="color: black;">{{ q.question_text }} </a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> 
            No polls are available
        </p>
    {% endif %}
    <a href = "{% url 'polls:all_results' %}" style="color: black;"> View Results </a>
{% endblock %}